<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dipxa.dipxatechnology">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dipxa_appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dipxa_second_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DipxaTechnology"
        tools:targetApi="31">
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingBuyingActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUsAcitvity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntroductionActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>